################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Poplettes _ Popped Sorghum Snack (Gluten-free, Ancient Grain, non-GMO)_files
